[Unit]
Description=Journald console log streamer
Requires=systemd-journald.service
After=systemd-journald.service

[Service]
Restart=always
RestartSec=0
ExecStart=/bin/journalctl -f
StandardOutput=tty

[Install]
WantedBy=basic.target
